
.sidebar-layout-container {
  background-color: #F8F9FA;
  height: 100vh;
  overflow: hidden;
}

.left_panel {
  width: 250px;
}

.right_panel {
  width: calc(100vw - 250px);
  overflow-y: scroll ;
  overflow-x: hidden;
}
