<div *ngIf="!isRecoverSent">
  <p class="text-36 font-weight-bold text-center pt-15">Lấy lại mật khẩu</p>
  <p class="pt-20">Nhập địa chỉ email</p>

  <div class="flex flex-col gap-5">
    <span *ngIf="errorMessage" class="text-11 text-red-700">
      {{ errorMessage }}
    </span>
    <ng-container>
      <app-input-field
        cdkFocusInitial
        [required]="true"
        [placeholder]="'Nhập email'"
        [value]="email"
        [label]="'Email'"
        [type]="'email'"
      >
        <app-svg-icon
          slot="iconLabel"
          [name]="'messages'"
          class="mr-5"
          matPrefix
        >
        </app-svg-icon>
        <mat-error slot="error" *ngIf="email.invalid">
          {{ getEmailErrorMessage() }}
        </mat-error>
      </app-input-field>

      <!-- button -->
      <button
        mat-raised-button
        color="primary"
        (click)="onForgotPwdButtonClicked()"
      >
        Gửi đường dẫn đặt lại mật khẩu
      </button>
    </ng-container>
  </div>
</div>

<div *ngIf="isRecoverSent">
  <p class="text-36 font-weight-bold text-center pt-15 leading-28">
    Đã gửi đường dẫn khôi phục
  </p>
  <div class="flex flex-col justify-center items-center gap-5">
    <ng-container>
      <img
        class="h-210 object-contain"
        src="assets/images/default/plane.png"
      />
      <p class="text-24">
        Kiểm tra email của bạn.
      </p>
      <a
        class="flex justify-center text-xs text-grey-777 mb-20"
        [routerLink]="ENDPOINTS.LOGIN"
      >
        hoặc <span class="text-blue-800 mx-5">Đăng nhập </span>
      </a>
    </ng-container>
  </div>
</div>
