.chart-container {
  height: 80vh;
}

::ng-deep .table-wrapper {
  height: 100%;
  overflow: scroll;

  &::-webkit-scrollbar-thumb {
    background-color: transparent !important;
  }
}

table {
  height: 100%;
}

::ng-deep .mat-table {
  background-color: transparent !important;
  width: 100%;
  height: 100%;

  mat-row,
  mat-header-row,
  mat-footer-row,
  th.mat-header-cell,
  td.mat-cell,
  td.mat-footer-cell {
    border-bottom-color: #e2e8f0 !important;
  }

  thead {
    position: sticky;
    top: 0;
    background: white;
    width: 100%;
    z-index: 10;
  }

  tr.mat-header-row {
    height: 50px !important;
    width: 100%;
  }
}

::ng-deep .mat-paginator {
  height: 50px !important;

  .mat-paginator-outer-container {
    height: 100%;

    .mat-paginator-container {
      align-items: baseline !important;
      justify-content: space-between !important;
      min-height: 30px !important;
    }
  }
}

.statistic-detail-container {
  height: 100%;
  width: 100%;
}

::ng-deep .mat-tab-group {
  height: 100% !important;
  .mat-tab-body-wrapper {
    flex-grow: 1;
  }
}
