<div class="flex flex-col gap-20 w-full m-auto">
  <mat-card class="flex-auto p-20">
    <mat-card-title> Thông tin phòng </mat-card-title>
    <div class="grid grid-cols-3 gap-5 my-20">
      <div>
        <p class="text-14 text-gray-500 uppercase"> Giá </p>
        <p class="text-28 font-bold text-blue-700"> {{ post.price | currency: "VND" }} </p>
      </div>
      <div>
        <p class="text-14 text-gray-500 uppercase"> Diện tích </p>
        <p class="text-16"> {{ post.area }} m2 </p>
      </div>
      <div>
        <p class="text-14 text-gray-500 uppercase"> ĐẶT CỌC </p>
        <p class="text-16"> {{ post.prePaidPrice | currency: "VND" }} </p>
      </div>
    </div>
    <div>
      <p class="text-14 text-gray-500 uppercase"> Địa chỉ </p>
      <p class="text-16"> {{ post.address + ',' + ( post.fullAddress | address ) }}</p>
    </div>
  </mat-card>

  <mat-card>
    <mat-card-title> Tiện ích </mat-card-title>
    <div class="grid grid-cols-4 gap-10 my-20">
      <div *ngFor="let item of post.properties; index as i"
        class="flex gap-10 items-start">
        <app-svg-icon [name]="completeIconSet[i].name"
          class="text-blue-800">
        </app-svg-icon>
        <p class="text-16"> {{ item.displayName }} </p>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <mat-card-title> Chú ý </mat-card-title>
    <div class="grid grid-cols-2 gap-5 my-20">
      <div>
        <p class="text-14 text-gray-500 uppercase"> Giới hạn số lượng người / phòng </p>
        <p class="text-16"> {{ post.limitTenant + ' người'}} </p>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-title> Mô tả thêm </mat-card-title>
    <div>
      <div>
        <p class="text-14 text-gray-500 uppercase">  </p>
        <p class="text-16"> {{ post.title }} </p>
      </div>
      <div>
        <p class="text-14 text-gray-500 uppercase">  </p>
        <p class="text-16"> {{ post.description }} </p>
      </div>

    </div>
  </mat-card>
</div>
