


::ng-deep .post-detail-card-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  
  .review-rating {
    svg {
      width: 13px;
    }
  }

  .hightlightReview {
    transition: all 0.3s linear;
    animation: mymove 8s;
  }
}

@keyframes mymove {
  from {background-color: rgb(197, 214, 251);}
  to {background-color: #fff;}
}