<div class="flex flex-col gap-30 w-full m-auto">
  <mat-card class="flex-auto p-20">
    <mat-card-title>
      <div class="flex gap-10 items-center">
        <app-svg-icon [name]="'home_large'" class="w-52"></app-svg-icon> <a> Thông tin phòng </a>
      </div>
    </mat-card-title>
    <div class="grid grid-cols-3 gap-5 my-20">
      <div>
        <p class="text-14 text-gray-500 uppercase"> Giá </p>
        <p class="text-28 font-bold text-blue-700"> {{ post.price | currency: "VND" }} </p>
      </div>
      <div>
        <p class="text-14 text-gray-500 uppercase"> Diện tích </p>
        <p class="text-16"> {{ post.area }} m2 </p>
      </div>
      <div>
        <p class="text-14 text-gray-500 uppercase"> ĐẶT CỌC </p>
        <p class="text-16"> {{ post.prePaidPrice | currency: "VND" }} </p>
      </div>
    </div>
    <div>
      <p class="text-14 text-gray-500 uppercase"> Địa chỉ </p>
      <p class="text-16"> {{ post.address + ',' + ( post.fullAddress | address ) }}</p>
    </div>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div class="flex gap-10 items-center">
        <app-svg-icon [name]="'ultilities'" class="w-52"></app-svg-icon> <a> Tiện ích </a>
      </div>
    </mat-card-title>

    <div class="grid grid-cols-4 gap-10 my-20">
      <div *ngFor="let item of post.properties; index as i"
        class="flex gap-10 items-start">
        <app-svg-icon [name]="completeIconSet[i].name"
          class="text-blue-800">
        </app-svg-icon>
        <p class="text-16"> {{ item.displayName }} </p>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <mat-card-title>
      <div class="flex gap-10 items-center">
        <app-svg-icon [name]="'warning'" class="w-52"></app-svg-icon> <a>  Chú ý</a>
      </div>
    </mat-card-title>

    <div class="grid grid-cols-2 gap-5 my-20">
      <div>
        <p class="text-14 text-gray-500 uppercase"> Giới hạn số lượng người / phòng </p>
        <p class="text-16"> {{ post.limitTenant + ' người'}} </p>
      </div>
    </div>
  </mat-card>
  <mat-card>
    <mat-card-title>
      <div class="flex gap-10 items-center">
        <app-svg-icon [name]="'draw'" class="w-52"></app-svg-icon> <a>Mô tả thêm</a>
      </div>
    </mat-card-title>

    <div>
      <div>
        <p class="text-14 text-gray-500 uppercase">  </p>
        <p class="text-16"> {{ post.title }} </p>
      </div>
      <div>
        <p class="text-14 text-gray-500 uppercase"> Mô tả chung </p>
        <p class="text-16"> {{ post.description }} </p>
      </div>
    </div>
  </mat-card>

  <mat-card>
    <div class="flex items-center gap-10">
      <span>
        Hệ thống ghi nhận bạn đã đến xem phòng trọ này, bạn có thể để lại đánh giá !
      </span>
      <button mat-raised-button
        (click)="onReviewPostButtonClicked()">
        Đánh giá ngay <app-svg-icon [name]="'star_fill'" class="ml-5"></app-svg-icon>
      </button>
    </div>
  </mat-card>
</div>
