::ng-deep .post-detail-card-container {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .review-rating {
    svg {
      width: 13px;
    }
  }

  .hightlightReview {
    transition: all 0.3s linear;
    animation: mymove 8s;
  }

  .review-icon {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    &:hover,
    &:focus {
      animation-name: bounce;
      -moz-animation-name: bounce;
    }
  }

  .review {
    &:hover {
      .review-icon {
        animation-name: bounce;
        -moz-animation-name: bounce;
      }
    }
  }
}

@keyframes mymove {
  from {
    background-color: rgb(197, 214, 251);
  }
  to {
    background-color: #fff;
  }
}
@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
