<div class="table-container">
  <div class="flex justify-between items-center mb-10">
    <b class="text-20">
      Bài đăng của tôi
    </b>

    <div
      class="w-30 h-30 rounded-5 flex justify-center items-center bg-blue-700 text-white p-5 cursor-pointer"
      (click)="onAddNewPostButtonClicked()"
    >
      <app-svg-icon [name]="'plus'"> </app-svg-icon>
    </div>
  </div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let tab of tabs"
      (click)="onTabClick(tab)"
      [active]="selectedTab == tab"
    >
      {{ tab.name }}
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel mat-align-tabs="start"></mat-tab-nav-panel>
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="medias">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Hình ảnh
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="w-100 my-10">
            <app-swiper-template
              [images]="element.medias"
              [navigation]="false"
              [imageStyle]="'border-radius: 15px'"
            >
            </app-swiper-template>
            <img
              *ngIf="element.medias.length === 0"
              src="assets/images/default/house_default.png"
              alt="Hình ảnh"
              class="h-56 rounded-5 m-auto"
            />
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Tiêu đề
        </th>
        <td mat-cell *matCellDef="let element" class="">
          <p class="mx-5 w-210 line-clamp-2">
            {{ element.title }}
          </p>
        </td>
      </ng-container>
      <ng-container matColumnDef="area">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Diện tích
        </th>
        <td mat-cell *matCellDef="let element">
          <p class="mx-5 w-100">{{ element.area }} m<sup>2</sup></p>
        </td>
      </ng-container>
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Giá
        </th>
        <td mat-cell *matCellDef="let element">
          <p class="mx-5 w-100">
            {{ element.price | currency: "VND" }}
          </p>
        </td>
      </ng-container>
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Phân loại phòng
        </th>
        <td mat-cell *matCellDef="let element">
          <p class="mx-5 w-100 line-clamp-2">
            {{ element.category.name }}
          </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="address" class="w-210">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Địa chỉ
        </th>
        <td mat-cell *matCellDef="let element">
          <p
            class="mx-5 w-100 line-clamp-2"
            [title]="element.address + ',' + (element.fullAddress | address)"
          >
            {{ element.address + "," + (element.fullAddress | address) }}
          </p>
        </td>
      </ng-container>
      <ng-container matColumnDef="action" class="w-100">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          Thao tác
        </th>
        <td mat-cell *matCellDef="let element">
          <div class="flex gap-5">
            <app-svg-icon
              matTooltip="Chỉnh sửa bài viết"
              class="cursor-pointer"
              [name]="'edit_nowrap'"
              (click)="onEditPostButtonClicked(element.id)"
            ></app-svg-icon>
            <app-svg-icon
              matTooltip="Xoá bài viết"
              class="cursor-pointer"
              [name]="'delete'"
              (click)="onDeletePostButtonClicked(element.id)"
            ></app-svg-icon>
            <app-svg-icon
              class="cursor-pointer"
              *ngIf="!element.isPriorityPost"
              matTooltip="Đẩy bài viết lên tin nổi bật"
              [name]="'up'"
              (click)="onUptopPostButtonClicked(element.id)"
            ></app-svg-icon>
            <app-svg-icon
              class="cursor-pointer mt-2"
              *ngIf="element.isPriorityPost"
              matTooltip="Xem thời hạn tin nổi bật"
              [name]="'watch'"
              (click)="onViewTopTimeButtonClicked(element.id)"
            ></app-svg-icon>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    style-paginator
    (page)="pageChangeEvent($event)"
    [length]="totalPosts"
    [pageSize]="queryParams.pageSize"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons
  >
  </mat-paginator>
</div>

<ng-template #tableHeader let-name="name">
  <th mat-header-cell *matHeaderCellDef mat-sort-header>
    {{ name }}
  </th>
</ng-template>
