::ng-deep .cal-event-action {
  background: white !important;
  border-radius: 2px !important;
  padding: 1px !important;
  position: relative;

  &::after {
    content: '\2716';
  }
}

::ng-deep .cal-event-title {
  color: white !important
}

::ng-deep .cal-event {
  padding: 5px !important;
}

::ng-deep .cal-today {
  background: #4D47C3 !important;
  color: white !important;
}

.hide-header-day {
  ::ng-deep .cal-header {
    span {
      display: none !important
    }
  }
}


::ng-deep .cal-day-selected,
.cal-day-selected:hover {
  background-color: deeppink !important;
}
