<div *ngIf="filterParams && queryParams" class="text-left">
  <div class="my-20">
    <span class="text-16 font-bold text-left text-gray-700"> Phân loại phòng </span>
    <div class="flex flex-wrap gap-10 py-10">
      <div *ngFor="let item of roomTypes"
        class="w-fit border text-14 rounded-15 px-10 py-5 text-center cursor-pointer"
        [class.bg-blue-700]="queryParams.categoryId === item.id"
        [class.text-white]="queryParams.categoryId === item.id"

        (click)="onCategorySelected(item.id)">
        {{ item.name }}
      </div>
    </div>
  </div>

  <div *ngFor="let item of properties" class="my-20">
    <span class="text-16 font-bold text-left text-gray-700"> {{ item.displayName }} </span>
    <app-chips-field
      [onlyView]="true"
      [selectedItems]="item.value"
      [allItems]="item.properties"
      [type]="item.displayName"
      (onSelectedItemsChanged)="onSelectedFieldChanged($event)"
      >
    </app-chips-field>
  </div>

  <div class="my-20">
    <span class="text-16 font-bold text-left text-gray-700"> Giá phòng </span>
    <!-- <mat-slider
      id="to-slider"
      class="w-full"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="500000"
      step="10000"
      min="0"
      max="20000000"
      [(value)]="priceValue.from">
    </mat-slider>
    <mat-slider
      id="from-slider"
      class="w-full"
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="500000"
      step="10000"
      min="0"
      max="20000000"
      [(value)]="priceValue.to">
    </mat-slider> -->

    <div class="flex gap-10 items-center">
      <app-input-field
      class="w-1/3"
      [value]="filterParams.minPrice"
      [label]="'Min'"
      [type]="'number'">
    </app-input-field>
    -
    <app-input-field
      [value]="filterParams.maxPrice"
      [label]="'Max'"
      class="w-1/3"
      [type]="'number'">
    </app-input-field>
    </div>
  </div>

  <div class="my-20">
    <span class="text-16 font-bold text-left text-gray-700"> Diện tích </span>
    <div class="flex gap-10 items-center">
      <app-input-field
      class="w-1/3"
      [value]="filterParams.minArea"
      [label]="'Min'"
      [type]="'number'">
    </app-input-field>
    -
    <app-input-field
      [value]="filterParams.maxArea"
      [label]="'Max'"
      class="w-1/3"
      [type]="'number'">
    </app-input-field>
    </div>
  </div>

  <div class="flex gap-10">
    <button mat-raised-button mat-dialog-close>
      Hủy
    </button>
    <button mat-raised-button color="primary" (click)="onFilterButtonClicked()">
      Lọc
    </button>
  </div>
</div>
