<app-dialog-template
  [title]="'Chi tiết lịch hẹn'"
  [saveButton]="
    !this.data.infoDetail.approveTime ? 'Xác nhận lịch hẹn' : 'Xác nhận đã gặp'
  "
  [showSaveButton]="!this.data.infoDetail.met"
  [cancelButton]="'Đóng'"
  (onSave)="handleSave()"
>
  <p>
    <b>Tên: </b>
    {{ this.data.infoDetail?.guestInfo.displayName }}
  </p>
  <p>
    <b>Số điện thoại: </b>
    {{ this.data.infoDetail?.guestInfo.phoneNumber }}
  </p>
  <p>
    <b>Ngày hẹn: </b>
    {{ this.data.infoDetail?.time | date: "medium" }}
  </p>
  <p>
    <b>Trạng thái: </b>
    {{ this.data.infoDetail?.met ? "Đã gặp" : "Chưa gặp" }}
  </p>
  <p>
    <b>Ghi chú:</b>
    <span> Không có</span>
  </p>
  <p class="text-gray text-12">
    Xác nhận lịch hẹn lúc
    {{ this.data.infoDetail?.approveTime | date: "medium" }}
  </p>
</app-dialog-template>
