<mat-toolbar>
  <mat-toolbar-row class="justify-between">
    <!-- left -->
    <div class="flex items-center gap-10">
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
      </button>
      <h1>PBL6</h1>
    </div>
    <span class="menu-spacer"></span>
    <!-- right -->
    <div class="flex items-center gap-10">
      <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
      <a *ngIf="accountInfo" mat-list-item>
        <button mat-button [matMenuTriggerFor]="menu">
          <div class="flex items-center ">
            <span class="mr-5">{{ accountInfo.displayName }}</span>
            <app-svg-icon [name]="'arrow_down'" [color]="'#999'" matPrefix>
            </app-svg-icon>
          </div>

        </button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let item of menuItems" mat-menu-item [routerLink]="item.link">{{ item.name }}</button>
        </mat-menu>
      </a>
      <div mat-list-item *ngIf="!accountInfo" class="text-14 text-blue-4882C7">
        <a [routerLink]="'/auth/sign-in'">
          Đăng nhập
        </a>
        <span class="mx-2">|</span>
        <a [routerLink]="'/auth/sign-up'">
          Đăng ký
        </a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- sidebar -->
<mat-sidenav-container class="text-xs">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
      <a *ngFor="let item of menuItems" mat-list-item [routerLink]="item.link"> {{ item.name }} </a>
      <a mat-list-item (click)="sidenav.toggle()"> Close </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh; max-width: 1800px" class="p-20">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #menuTemplate>
  <app-navbar-menu></app-navbar-menu>
</ng-template>
