<mat-toolbar class="">
  <mat-toolbar-row class="justify-between">
    <!-- left -->
    <h3
      [routerLink]="ENDPOINTS.HOME"
      class="flex items-center gap-10 cursor-pointer"
    >
      <img
        class="h-24 w-24 object-contain shadow-sm"
        src="assets/images/default/home.png"
      />
      <b> HOMIE</b>
    </h3>
    <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
    <a *ngIf="accountInfo" mat-list-item>
      <div class="flex items-center">
        <div class="relative mt-5" (clickOutside)="isNotificationVisible = false;">
          <button mat-button class="px-5" (click)="toggleNotification()">
            <app-svg-icon [name]="hasNewNotification ? 'notification_new' : 'notification'" class="my-5"></app-svg-icon>
          </button>
          <div
            *ngIf="isNotificationVisible"
            class="absolute top-25 right-0 z-50 bg-white shadow-md rounded-12  py-10 px-15 border border-gray-300 notification-container"
          >
            <app-notification></app-notification>
          </div>
        </div>

        <button mat-button [matMenuTriggerFor]="menu">
          <div class="flex items-center ">
            <div class="avatar h-20 w-20 relative">
              <img
                class="w-full h-full rounded-15 object-cover"
                [src]="'assets/images/default/default_avatar.png'"
              />
            </div>
            <span class="mx-5">{{ accountInfo.displayName }}</span>
            <app-svg-icon [name]="'arrow_down'" [color]="'#999'" matPrefix>
            </app-svg-icon>
          </div>
        </button>
      </div>
      <mat-menu #menu="matMenu">
        <button
          *ngFor="let item of menuItems"
          mat-menu-item
          [routerLink]="item.link"
          class="flex gap-10 items-center menu-item"
        >
          <app-svg-icon [name]="item.icon"> </app-svg-icon>
          <span>
            {{ item.name }}
          </span>
        </button>
      </mat-menu>
    </a>
    <div mat-list-item *ngIf="!accountInfo" class="text-14 text-blue-4882C7">
      <a [routerLink]="ENDPOINTS.LOGIN">
        Đăng nhập
      </a>
      <span class="mx-2">|</span>
      <a [routerLink]="ENDPOINTS.SIGN_UP">
        Đăng ký
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- sidebar -->
<mat-sidenav-container class="text-xs">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <ng-container *ngTemplateOutlet="menuTemplate"></ng-container>
      <a *ngFor="let item of menuItems" mat-list-item [routerLink]="item.link">
        {{ item.name }}
      </a>
      <a mat-list-item (click)="sidenav.toggle()"> Close </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 91vh">
      <div class="container-max-width">
        <router-outlet></router-outlet>
      </div>
      <app-footer></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #menuTemplate>
  <app-navbar-menu></app-navbar-menu>
</ng-template>
