<div class="post__banner">
  <div class="flex flex-col flex-grow">
    <app-search-panel #searchPanel (searchKeywordChanged)="updateFilterParams($event)">
    </app-search-panel>
    <!--------------------------------------------------------------------->
    <div class="py-20 post-banner__gallery justify-between flex w-full">
      <div class="post-banner__swiper w-3/5">
        <app-swiper-template [images]="images" [navigation]="false">
        </app-swiper-template>
      </div>
      <div class="w-2/5 flex flex-col justify-between gap-10 flex-grow pl-20">
        <div class="post-banner__gallery--left">
          <img class="h-full m-auto w-full" [src]="images[0]?.url">
        </div>
        <div class="post-banner__gallery--left">
          <img class="h-full m-auto w-full" [src]="images[1]?.url">
        </div>
      </div>
    </div>
  </div>
</div>
