::ng-deep .post__banner {
  .mat-form-field-wrapper {
    margin-top: 5px !important;
    padding-bottom: 0 !important;
  }

  .post-banner__gallery {
    max-height: 80vh;

    .post-banner__gallery--left {
      // height: calc(50% - 10px);
      height: 100%;
    }
  }

  .post-banner__swiper {
    min-height: 300px;
  }
}
