<swiper
  [slidesPerView]="1"
  [spaceBetween]="10"
  [pagination]="false"
  [breakpoints]="{
    '320': {
      slidesPerView: 1,
      spaceBetween: 20
    },
    '640': {
      slidesPerView: 2,
      spaceBetween: 10
    },
    '768': {
      slidesPerView: 3,
      spaceBetween: 40
    },
    '1024': {
      slidesPerView: 4,
      spaceBetween: 30
    },
    '1200': {
      slidesPerView: 5,
      spaceBetween: 30
    }
  }"
>
  <ng-template swiperSlide *ngFor="let post of posts">
    <app-post-card [post]="post"> </app-post-card>
  </ng-template>
</swiper>
