<div>
  <p class="text-36 font-weight-bold">Đăng kí</p>
  <p class="pt-20">Bạn đã có tài khoản?</p>
  <p>
    Đăng nhập ở
    <a class="text-blue-4882C7 font-weight-bold" [routerLink]="'/auth/login'">
      đây!
    </a>
  </p>
  <div class="flex flex-col gap-5">
    <span *ngIf="errorMessage" class="text-11 text-red-700">
      {{ errorMessage }}
    </span>
    <!-- email -->
    <mat-form-field appearance="standard">
      <mat-label>Nhập email</mat-label>
      <input
        matInput
        required
        placeholder="pat@example.com"
        [formControl]="signUpFormControl.email"
      />
      <app-svg-icon [name]="'messages'" matPrefix> </app-svg-icon>
      <mat-error *ngIf="signUpFormControl.email.invalid">
        {{ getErrorMessage("email") }}
      </mat-error>
    </mat-form-field>
    <!-- email -->
    <mat-form-field appearance="standard">
      <mat-label>Nhập tên</mat-label>
      <input
        matInput
        required
        placeholder="Trần A"
        [formControl]="signUpFormControl.displayName"
      />
      <app-svg-icon [name]="'user'" matPrefix> </app-svg-icon>
      <mat-error *ngIf="signUpFormControl.displayName.invalid">
        {{ getErrorMessage("displayName") }}
      </mat-error>
    </mat-form-field>
    <!-- pwd -->
    <mat-form-field appearance="standard">
      <mat-label>Nhập mật khẩu</mat-label>
      <input
        matInput
        required
        type="password"
        [(formControl)]="signUpFormControl.password"
      />

      <app-svg-icon [name]="'lock'" matPrefix> </app-svg-icon>
      <mat-error *ngIf="signUpFormControl.password.invalid">
        {{ getErrorMessage("password") }}
      </mat-error>
    </mat-form-field>

    <!--confirm pwd -->
    <mat-form-field appearance="standard">
      <mat-label class="">Xác nhận lại mật khẩu</mat-label>
      <input
        matInput
        required
        type="password"
        [(formControl)]="signUpFormControl.confirmPassword"
      />
      <app-svg-icon [name]="'lock'" matPrefix> </app-svg-icon>
      <mat-error *ngIf="signUpFormControl.confirmPassword.invalid">
        {{ getErrorMessage("confirmPassword") }}
      </mat-error>
    </mat-form-field>

    <!-- button -->
    <button
      [disabled]="
        signUpFormControl.confirmPassword.invalid ||
        signUpFormControl.email.invalid ||
        signUpFormControl.password.invalid
      "
      mat-raised-button
      color="primary"
      class="mt-20"
      (click)="onSignUpButtonClicked()"
    >
      Sign up
    </button>
  </div>
</div>
