<mat-card [routerLink]="ENDPOINTS.POST_DETAIL + '/' + post.id" class="cursor-pointer w-250 h-370">
  <a>
    <img *ngIf="post.medias?.length > 0" class="p-8 rounded-t-lg w-full h-160" [src]="post.medias[0].url">
    <img *ngIf="post.medias.length === 0" class="h-160 rounded-5 m-auto w-full object-contain"
      src="assets/images/default/house_default.png">
  </a>
  <div class="my-5">
    <div class="flex justify-between">
      <p class="font-semibold tracking-tight text-gray-900 dark:text-white">{{ post.title }}</p>
      <span class="text-15 font-bold text-gray-900 dark:text-white">${{post.price}} VND</span>
    </div>
  </div>
</mat-card>
