<mat-toolbar>
  <mat-toolbar-row class="justify-between">
    <!-- left -->
    <h3
      [routerLink]="[ENDPOINTS.HOME]"
      class="flex items-center gap-10 border-b pb-10 cursor-pointer"
    >
      <img
        class="h-24 w-24 object-contain shadow-sm"
        src="assets/images/default/home.png"
      />
      <b> HOMIE</b>
    </h3>

    <!-- right -->
    <div class="flex items-center gap-4">
      <app-navbar-menu></app-navbar-menu>

      <app-svg-icon name="notification"></app-svg-icon>
      <a mat-list-item>
        <button mat-button [matMenuTriggerFor]="menu">
          <div class="flex items-center ">
            <span class="mr-2"> {{ accountInfo.displayName }}</span>
            <app-svg-icon [name]="'arrow_down'" [color]="'#999'" matPrefix>
            </app-svg-icon>
          </div>
        </button>
        <mat-menu #menu="matMenu">
          <button
            *ngFor="let item of menuItems"
            mat-menu-item
            [routerLink]="item.link"
          >
            {{ item.name }}
          </button>
        </mat-menu>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>