<div>
  <app-post-banner #postBanner></app-post-banner>
  <div class="flex items-center my-20">
    <!-- line -->
    <div class="flex-grow bg bg-grey-999 h-1 "></div>
    <div class="flex-grow-0 mx-5 text">
      <!-- <span *ngFor="let category of categories"
            class="mx-5 cursor-pointer"
            [class]="category.id === selectedCategoryId ? 'text-black border-b border-grey-999' : 'text-grey-999'"
            (click)="onCategoryClicked(category.id)">
          {{ category.name }}
      </span> -->
      Xu hướng tìm kiếm
    </div>
    <!-- line -->
    <div class="flex-grow bg bg-grey-999 h-1"></div>
  </div>

  <app-swiper-template
    [images]="images"
    [slidesPerView]="7"
    [pagination]="false"
    [imageStyle]="'border-radius: 15px; border: 1px solid gray'"
  >
  </app-swiper-template>

  <div class="text-center my-30 flex gap-10">
    <app-filter class="w-1/4"></app-filter>
    <app-post-list #postList></app-post-list>
  </div>
</div>
