<div>
  <div class="content-container">
    <app-post-banner #postBanner></app-post-banner>

    <div class="flex items-center my-5">
      <div class="flex-grow bg bg-grey-999 h-1 bg-gray-200"></div>
      <div class="flex-grow-0 mx-5 text">
        <!-- Xu hướng tìm kiếm -->
        Tin phòng trọ
      </div>
      <div class="flex-grow bg bg-grey-999 h-1 bg-gray-200"></div>
    </div>

    <!-- <app-swiper-template
      [onlyText]="true"
      [images]="images"
      [slidesPerView]="7"
      [pagination]="false"
      [imageStyle]="'border-radius: 15px; border: 1px solid gray'"
      (itemClicked)="onItemClicked($event)"
    >
    </app-swiper-template> -->

    <div class="text-center my-10 flex gap-30">
      <app-filter class="w-1/4" [addressWardId]="addressWardId"></app-filter>
      <app-post-list class="flex-1" #postList></app-post-list>
    </div>
  </div>
</div>
