<div class="post__banner">
  <div class="flex flex-col flex-grow">
    <div class="py-20 post-banner__gallery justify-between flex gap-10 w-full">
      <div class="post-banner__swiper w-full rounded-9 overflow-hidden">
        <app-swiper-template [images]="post.medias" [navigation]="false">
        </app-swiper-template>
      </div>
    </div>
  </div>
</div>
<div class="flex gap-10">
  <div class="w-3/5">
    <app-post-detail-card [post]="post"></app-post-detail-card>
  </div>
</div>

<app-post-related></app-post-related>


