<div class="h-160 w-full bg-blue-500 relative rounded-15">
  <div
    class="profile-info h-100 p-10 rounded-15 absolute bg-white flex justify-between items-center"
  >
    <div class="flex items-center gap-10">
      <div class="avatar h-80 w-80 relative">
        <img
          class="w-full h-full rounded-15 object-cover"
          src="https://i.pinimg.com/236x/56/98/ac/5698ac3f37f7e5c727436d2335fa9df5.jpg"
          alt=""
        />
        <div
          class="w-24 h-24 absolute -bottom-8 -right-8 rounded-5 shadow-sm flex justify-center items-center bg-white text-blue-700 p-5 cursor-pointer"
          (click)="onEditProfileButtonClicked()">
          <app-svg-icon [name]="'edit'"> </app-svg-icon>
        </div>
      </div>
      <div class="info">
        <b class="text-20"> Phuong Tran </b>
        <p class="text-gray-500 text-10">phuong@gmail.com</p>
      </div>
    </div>
    <div class="flex gap-10 flex-wrap">
      <button mat-raised-button>
        Tổng bài đăng: 12
      </button>
      <button mat-raised-button>
        Điểm uy tín: 12
      </button>
      <button mat-raised-button>
        Lượt đánh giá: 12
      </button>
    </div>
  </div>
</div>
