<div class="h-160 w-full bg-blue-500 relative rounded-15">
  <div *ngIf="profileGeneralInfo" class="profile-info h-100 p-10 rounded-15 absolute bg-white flex justify-between items-center">
    <div class="flex items-center gap-10">
      <div class="avatar h-80 w-80 relative">
        <img class="w-full h-full rounded-15 object-cover" [src]="
            profileGeneralInfo.avatar ||
            'assets/images/default/default_avatar.png'
          " />
        <div
          class="w-24 h-24 absolute -bottom-8 -right-8 rounded-5 shadow-sm flex justify-center items-center bg-white text-blue-700 p-5 cursor-pointer"
          (click)="onEditProfileButtonClicked()">
          <app-svg-icon [name]="'edit'"> </app-svg-icon>
        </div>
      </div>
      <div class="info">
        <b class="text-20"> {{ profileGeneralInfo.displayName }}</b>
        <p class="text-gray-500 text-10">
          {{ profileGeneralInfo.userAccountEmail }}
        </p>
      </div>
    </div>
    <div class="flex gap-10 flex-wrap">
      <button mat-raised-button>
        Tổng bài đăng: {{ profileGeneralInfo.totalPosts || 0 }}
      </button>
      <button mat-raised-button>
        Điểm uy tín: {{ profileGeneralInfo.reputation || 0 }}
      </button>
      <button mat-raised-button>
        Lượt đánh giá: {{ profileGeneralInfo.totalReviews || 0 }}
      </button>
    </div>
  </div>
</div>
