<swiper
  [slidesPerView]="slidesPerView"
  [spaceBetween]="spaceBetween"
  [navigation]="navigation"
  [pagination]="pagination ?  { clickable: true, dynamicBullets: true } : pagination"
  [controller]="{ control: controlledSwiper }"
>
  <ng-template swiperSlide *ngFor="let item of images">
      <img [style]="imageStyle"
           class="swiper-lazy h-full m-auto"
           [src]="item.url || 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLWVt7311_AImRR3DHxvYt9AAFJn0JJr7DjQ&usqp=CAU'"
           alt="Hình ảnh"
           srcset="">
  </ng-template>
</swiper>
