<button mat-dialog-title class="text-20 mb-5">
  Đăng bài mới
</button>
<mat-dialog-content
  *ngFor="let group of formControl"
  class="flex flex-col gap-10 w-full"
>
  <b class="text-16"> {{ group.groupName }}</b>
  <div class="flex flex-wrap w-full justify-between">
    <div *ngFor="let item of group.items" [class]="'w-' + item.width">
      <app-input-field
        *ngIf="item.type === 'input'"
        [required]="item.required"
        [placeholder]="item.placeholder"
        [value]="item.value"
        [label]="item.label"
      >
      </app-input-field>
      <app-textarea-field
        *ngIf="item.type === 'textarea'"
        [required]="item.required"
        [placeholder]="item.placeholder"
        [value]="item.value"
        [label]="item.label"
      >
      </app-textarea-field>
    </div>
  </div>
</mat-dialog-content>
<!-- upload hình ảnh -->
<div>
  <b class="text-16"> Hình ảnh trọ</b>
  <div class="mt-15">
    <div class="flex flex-wrap gap-10 mt-10">
      <div
        class="w-210 h-210 border border-gray-500 border-dashed flex flex-col items-center justify-center text-center text-gray-400 rounded-12 p-10"
        (click)="uploadImg.click()"
      >
        <img class="w-30 h-30" src="assets/images/default/upload_icon.png" />
        <span class="text-10">Tải hình ảnh lên</span>
        <span class="text-8">
          Định dạng được hỗ trợ: JPEG, PNG, SVG.
        </span>
        <span class="text-8">
          Kích thước tối đa: 5MB.
        </span>
      </div>
      <div *ngFor="let img of previews">
        <img
          class="object-contain w-210 h-210 border border-gray-500 rounded-12"
          [src]="img"
        />
      </div>
    </div>
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>
      Hủy
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="onCreateNewPost()"
      cdkFocusInitial
    >
      Hoàn tất
    </button>
  </mat-dialog-actions>
</div>

<input
  #uploadImg
  type="file"
  hidden
  (change)="onFileSelected($event)"
  multiple
/>
