<div>
  <p class="text-36 font-weight-bold mt-15">Tạo mật khẩu mới</p>
  <div class="flex flex-col gap-5">
    <span *ngIf="errorMessage" class="text-11 text-red-700">
      {{ errorMessage }}
    </span>
    <!-- pwd -->
    <mat-form-field appearance="standard">
      <mat-label>Nhập mật khẩu</mat-label>
      <input
        matInput
        required
        type="password"
        [(formControl)]="password"
      />

      <app-svg-icon [name]="'lock'" matPrefix> </app-svg-icon>
      <mat-error *ngIf="password.invalid">
        {{ getErrorMessage("password") }}
      </mat-error>
    </mat-form-field>

    <!--confirm pwd -->
    <mat-form-field appearance="standard">
      <mat-label class="">Xác nhận lại mật khẩu</mat-label>
      <input
        matInput
        required
        type="password"
        [(formControl)]="confirmPassword"
      />
      <app-svg-icon [name]="'lock'" matPrefix> </app-svg-icon>
      <mat-error *ngIf="confirmPassword.invalid">
        {{ getErrorMessage("confirmPassword") }}
      </mat-error>
    </mat-form-field>

    <!-- button -->
    <button
      [disabled]="
        confirmPassword.invalid ||
        password.invalid
      "
      mat-raised-button
      color="primary"
      class="mt-20"
      (click)="onCreateNewPwdButtonClicked()"
    >
      Tạo mật khẩu
    </button>
  </div>
</div>
