<div class="app-container">
  <router-outlet></router-outlet>
  <!-- <button
    class="fixed bottom-0 right-0 m-10 z-50 bg-white rounded-full w-12 h-12 flex items-center justify-center shadow-lg"
    *ngIf="isShow"
    (click)="gotoTop()"
  >
    👆
  </button> -->
</div>

<app-toast></app-toast>

<div class="app-guide-text">
  <!-- guide to download app -->
  <p class="text-20 font-bold">
    Please download app for the best experience or using desktop with screen
    larger 768px
  </p>
  <img class="w-1/2" src="../assets/images/qr/mobile.png" alt="" />
</div>
