.app-container {
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    display: block;
  }
  
  .app-guide-text {
    display: none;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-direction: column;
    padding: 1em;
    text-align: center;
  }
  // responsive app container media screen 960px
  @media (max-width: 768px) {
    .app-container {
      display: none;
    }
  
    .app-guide-text {
      display: flex;
    }
  }
  