<div class="flex items-center search-panel__container">
  <mat-form-field appearance="outline">
    <mat-label>Select category</mat-label>
    <mat-select [(ngModel)]="selectedCategory" name="category">
      <mat-option *ngFor="let category of categories"
                  [value]="category.id"
                  [routerLink]="ENDPOINTS.CATEGORY + '/' + category.id">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!----------------------------------------------------->
  <mat-form-field class="flex-grow" appearance="outline">
    <mat-label>What are you looking for?</mat-label>
    <input
      matInput
      placeholder="Ex. Nike, Adidas, ..."
      [(ngModel)]="searchKeyword"
      (ngModelChange)="onSearchKeywordChanged($event)"/>
  </mat-form-field>
  <!-- ----------------------------------------------- -->
  <button mat-raised-button
          color="primary"
          class="search-btn__banner">
    <app-svg-icon *ngIf="svgSearch"
                  [svgIcon]="svgSearch"
                  class="mr-10">
    </app-svg-icon>
    Search
  </button>
</div>
