<div class="flex gap-20 product__banner">
  <app-category-expansion></app-category-expansion>
  <div class="flex flex-col flex-grow">
    <app-search-panel #searchPanel
                      (searchKeywordChanged)="updateFilterParams($event)">
    </app-search-panel>
    <!--------------------------------------------------------------------->
    <div class="flex gap-20 py-20 product-banner__gallery justify-between">
      <mat-card class="product-banner__swiper w-3/5" >
        <app-swiper-template [images]="images"
                             [navigation]="false">
        </app-swiper-template>
      </mat-card>
      <div class="w-2/5 flex flex-col justify-between gap-10 flex-grow">
        <mat-card class="product-banner__gallery--left">
          <img class="h-full m-auto w-full"
               [src]="images[1]?.url"
               alt=""
               srcset="">
        </mat-card>
        <mat-card class="product-banner__gallery--left">
          <img class="h-full m-auto w-full"
               [src]="images[2]?.url"
               alt=""
               srcset="">
        </mat-card>
      </div>
    </div>
  </div>
</div>
