::ng-deep .product__banner {
  .mat-form-field-wrapper {
    margin-top: 5px !important;
    padding-bottom: 0 !important;
  }

  .product-banner__gallery {
    max-height: 80vh;

    .product-banner__gallery--left {
      height: calc(50% - 10px);
    }
  }

  .product-banner__swiper {
    max-width: 1060px !important;
    min-height: 300px;
  }
}
