.toast-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2rem;
  display: inline-flex;
  min-width: 260px;
  min-height: 70px;
  max-height: 70px;

  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 4px;
  font-size: 0.9rem;
  z-index: 100 !important;
}
