<!-- <div
  [@toastTrigger]="(toast.showsToast$ | async) ? 'open' : 'close'"
  [class]="toast.toastState$ | async"
  class="toast-container"
>
  <div style="max-width: 200px;">
    {{ toast.toastMessage$ | async }}
  </div>

  <a class="cursor-pointer" (click)="dismiss()">
    <small>
      Bỏ qua
    </small>
  </a>
</div> -->

<div
  [@toastTrigger]="(toast.showsToast$ | async) ? 'open' : 'close'"
  [class]="toast.toastState$ | async"
  class="toast-container p-4 bg-white border rounded-md shadow-sm shadow-blue-600 gap-10 items-center"
>
  <span class="text-12 text-blue-600">
    {{ toast.toastMessage$ | async }}
  </span>

  <span class="text-12 text-gray-600 cursor-pointer" (click)="dismiss()">
    Bỏ qua
  </span>
</div>
