<div>
  <p class="text-36 font-weight-bold">Sign in</p>
  <p class="pt-20">If you don’t have an account</p>
  <p>
    You can
    <a class="text-blue-4882C7 font-weight-bold" [routerLink]="'/auth/sign-up'">
      Register here !
    </a>
  </p>

  <div class="flex flex-col gap-5">
    <!-- email -->
    <mat-form-field appearance="standard">
      <mat-label>Enter your email address</mat-label>
      <input
        matInput
        required
        type="password"
        placeholder="pat@example.com"
        [formControl]="login.email"
      />
      <app-svg-icon [name]="'messages'" matPrefix>
      </app-svg-icon>
      <mat-error *ngIf="login.email.invalid">
        {{ getEmailErrorMessage() }}
      </mat-error>
    </mat-form-field>

    <!-- pwd -->
    <mat-form-field appearance="standard">
      <mat-label>Enter your Password</mat-label>
      <input
        matInput
        required
        [type]="hidePwd ? 'password' : 'text'"
        [(formControl)]="login.password"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hidePwd = !hidePwd"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePwd"
      >
        <mat-icon>{{ hidePwd ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <app-svg-icon [name]="'lock'" matPrefix> </app-svg-icon>
      <mat-error *ngIf="login.password.invalid">
        {{ getPasswordErrorMessage() }}
      </mat-error>
    </mat-form-field>

    <!-- more option -->
    <div class="flex justify-between text-xs text-grey-777 mb-20">
      <mat-checkbox color="primary">Remember me</mat-checkbox>
      <span>Forgot Password ?</span>
    </div>

    <!-- button -->
    <button mat-raised-button color="primary" (click)="onSignInButtonClicked()">
      Sign in
    </button>
  </div>
</div>
