::ng-deep .notification-nav-container .mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none !important;
}

.notification-icon {
  ::ng-deep app-svg-icon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}