<div class="w-full flex p-10 shadow-md rounded-9">
  <div class="flex font-sans w-full m-auto">
    <div class="flex-none relative h-132 w-210">
      <app-swiper-template
        *ngIf="post.medias?.length > 0"
        [routerLink]="ENDPOINTS.POST_DETAIL + '/' + post.id"
        [images]="post.medias"
        [navigation]="false"
        class="absolute inset-0 w-full h-full object-cover rounded-lg"
        [imageStyle]="'border-radius: 5px'"
      >
      </app-swiper-template>
      <img
        *ngIf="post.medias?.length === 0"
        [routerLink]="ENDPOINTS.POST_DETAIL + '/' + post.id"
        [src]="'assets/images/default/house-3.jpg'"
        class="absolute inset-0 w-full h-full object-cover rounded-lg"
        loading="lazy"
      />
    </div>
    <div class="flex-auto p-10 flex gap-10 justify-between">
      <div class="my-5">
        <p
          [routerLink]="ENDPOINTS.POST_DETAIL + '/' + post.id"
          class="font-semibold text-left"
        >
          {{ post.title }}
        </p>
        <div class="flex justify-between gap-10 my-5">
          <div class="flex justify-start items-center gap-5">
            <app-svg-icon [name]="'people'"></app-svg-icon>
            <span> {{ post.area }} m<sup>2</sup> </span>
          </div>
        </div>

        <div class="flex justify-start items-start   gap-5">
          <app-svg-icon [name]="'located'"></app-svg-icon>
          <span class="text-left">
            {{ post.address + "," + (post.fullAddress | address) }}
          </span>
        </div>
      </div>
      <div class="flex flex-col justify-between items-end gap-10 w-1/4">
        <div>
          <app-svg-icon
            [name]="post.isBookmarked ? 'bookmarked' : 'bookmark'"
            class="text-black cursor-pointer"
            (click)="onBookmarkButtonClicked()"
          ></app-svg-icon>
        </div>
        <span class="text-20 font-bold text-blue-900 dark:text-white">{{
          post.price | price
        }}</span>
      </div>
    </div>
  </div>
</div>
