::ng-deep .booking-container {

    .mat-form-field-appearance-outline .mat-form-field-wrapper {
        margin: 0 !important;
        padding: 0 !important;
    }

    .mat-raised-button {
        line-height: 45px !important;
    }

    
}