<div class="flex justify-between items-center">
  <b class="text-20">
    Lịch hẹn xem trọ
  </b>

  <button
    mat-raised-button
    color="primary"
    (click)="onEditFreeTimeButtonClicked()"
  >
    <app-svg-icon [name]="'calendar'"></app-svg-icon> Chỉnh sửa lịch rảnh
  </button>
</div>  

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a
    mat-tab-link
    *ngFor="let tab of tabs"
    (click)="onTabClick(tab)"
    [active]="selectedTab == tab"
  >
    {{ tab.name }}
  </a>
</nav>
<mat-tab-nav-panel #tabPanel mat-align-tabs="start"></mat-tab-nav-panel>

<app-calendar-template
  *ngIf="events"
  #allBookings
  [enableEdit]="false"
  [events]="events"
  [showNavigateButtons]="true"
  (onEventClicked)="viewDetail($event)"
></app-calendar-template>
